* {
    font-family: $primary-font;
    color: #fff;
    box-sizing: border-box;
}
body {
    background-image: url('../img/star-background-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 2em;
    margin: 0 auto;
    position: relative;
}
.module {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 4em);
}