<p>Cards and faction sheets each have abilities that players can resolve to trigger various game effects.</p>
<ul>
    <li>
        <span>1.1</span>
        <p>Each ability describes when and how a player can resolve it.</p>
    </li>
    <li>
        <span>1.2</span>
        <p>If a card has multiple abilities, each ability is presented as its own paragraph.</p>
    </li>
    <li>
        <span>1.3</span>
        <p>If an ability contains the word “Action,” a player must use a component action during the action phase to resolve that ability.</p>
    </li>
    <li>
        <span>1.4</span>
        <p>If an ability uses the word “cannot,” that effect is absolute.</p>
    </li>
    <li>
        <span>1.5</span>
        <p>When a player resolves an ability, he must resolve the ability in its entirety. Any parts of the ability preceded by the word “may” are optional, and the player resolving the ability may choose not to resolve those parts.</p>
    </li>
    <li>
        <span>1.6</span>
        <p>Abilities on components that remain in play are mandatory unless they use the word “may.”</p>
    </li>
    <li>
        <span>1.7</span>
        <p>If an ability has multiple effects separated by the word “and,” a player must resolve as many of the ability’s effects as possible. However, if he cannot resolve all of its effects, he is allowed to resolve as many as he can.</p>
    </li>
</ul>
<div class="subheading">
    <span>1.8</span>
    <h3>Costs</h3>
</div>
<ul>
    <li>
        <span>1.9</span>
        <p>Some abilities have a cost that is followed by an effect. The cost of an ability is separated from the effect by the word “to” or by a semicolon. A player cannot resolve the effect of such an ability if he cannot resolve that ability’s cost.</p>
    </li>
    <li>
        <span>1.10</span>
        <p>Some examples of an ability’s cost include spending resources, spending trade goods, spending command tokens, exhausting cards, and activating specific systems.</p>
    </li>
</ul>
<div class="subheading">
    <span>1.11</span>
    <h3>Timing</h3>
</div>
<ul>
    <li>
        <span>1.12</span>
        <p>If the timing of an ability uses the word “after,” the ability’s effect occurs immediately after the described timing event.</p>
        <ul>
            <li><p>For example, if an ability is resolved “after a ship is destroyed,” the ability must be resolved as soon as the ship is destroyed and not later during that turn or round.</p></li>
        </ul>
    </li>
    <li>
        <span>1.13</span>
        <p>If the timing of an ability uses the word “when,” the ability’s effect occurs at the moment of the described timing event.</p>
        <ul>
            <li><p>Such an ability typically modifies or replaces the timing event in some way.</p></li>
        </ul>
    </li>
    <li>
        <span>1.14</span>
        <p>Effects that occur “when” an event happens take priority over effects that occur “after” an event happens.</p>
    </li>
    <li>
        <span>1.15</span>
        <p>If an ability uses the word “then,” a player must resolve the effect that occurs before the word “then” before resolving the effect that occurs after the word “then.”</p>
    </li>
    <li>
        <span>1.16</span>
        <p>Each ability can be resolved once for each occurrence of that ability’s timing event. For example, if an ability is resolved “At the start of combat,” it can be resolved at the start of each combat.</p>
    </li>
</ul>
<div class="subheading">
    <span>1.17</span>
    <h3>Component-specific Rules</h3>
</div>
<ul>
    <li>
        <span>1.18</span>
        <p>The opening paragraph of each ability found on an action card describes when a player can resolve that card’s ability.</p>
    </li>
    <li>
        <span>1.19</span>
        <p>The opening paragraph of most abilities found on promissory notes describes when a player can resolve that card’s ability.</p>
        <ul>
            <li><p>Some promissory notes have abilities that trigger as soon as a player receives the card.</p></li>
        </ul>
    </li>
    <li>
        <span>1.20</span>
        <p>Abilities on agenda cards correspond to an outcome. Players resolve these abilities during the agenda phase after players vote for a particular outcome.</p>
    </li>
    <li>
        <span>1.21</span>
        <p>Each faction has faction abilities presented on its faction sheet. Each faction’s flagship has one or more unique abilities. Some abilities provide players with perpetual effects.</p>
    </li>
    <li>
        <span>1.22</span>
        <p>Some units have unit abilities. These abilities are named and presented above a unit’s attributes on a player’s faction sheet or on a unit upgrade card. Each unit ability has unique rules for when a player can resolve that ability. The following abilities are unit abilities:</p>
        <ul>
            <li><p>Anti-Fighter Barrage</p></li>
            <li><p>Bombardment</p></li>
            <li><p>Planetary Shield</p></li>
            <li><p>Production</p></li>
            <li><p>Space Cannon</p></li>
            <li><p>Sustain Damage</p></li>
        </ul>
    </li>
    <li>
        <span>1.23</span>
        <p>If a unit’s ability uses the phrase “this system” or “this planet,” the ability is referring to the system or planet that contains that unit.</p>
    </li>
</ul>