<p>Action cards provide players with various abilities that they can resolve as described on the cards.</p>
<ul>
    <li>
        <span>2.1</span>
        <p>Each player draws one action card during each status phase. </p>
    </li>
    <li>
        <span>2.2</span>
        <p>Players can draw action cards by resolving the primary and secondary abilities of the “Politics” strategy card. </p>
    </li>
    <li>
        <span>2.3</span>
        <p>When a player draws an action card, he takes the top card from the action card deck and adds it to his hand of action cards. </p>
    </li>
    <li>
        <span>2.4</span>
        <p>Each player can have a maximum of <b>seven action cards</b> in his hand at any time. If a player ever has more than seven action cards, he must choose which seven cards he wishes to keep and discard the rest. </p>
        <ul>
            <li><p>A game effect can increase or decrease the number of cards a player can have in his hand.</p></li>
        </ul>
    </li>
    <li>
        <span>2.5</span>
        <p>A player’s action cards remain hidden from other players until they are played. </p>
    </li>
    <li>
        <span>2.6</span>
        <p>The first paragraph of each action card is presented in bold text and describes the timing of when that card’s ability can be resolved.</p>
        <ul>
            <li><p>If an action card contains the word “Action,” a player must use a component action during the action phase to resolve the ability. A player cannot resolve a component action if he cannot completely resolve its ability. </p></li>
            <li><p>Multiple action cards with the <b>same</b> name cannot be played during a single timing window to affect the same units or game mechanic. </p></li>
        </ul>
    </li>
    <li>
        <span>2.7</span>
        <p>To play an action card, a player reads and resolves the card’s ability text. Then, he discards the card, placing it in the action discard pile. </p>
    </li>
    <li>
        <span>2.8</span>
        <p>If an action card is canceled, that card has no effect and is discarded. </p>
    </li>
    <li>
        <span>2.9</span>
        <p>If there are multiple action cards that players wish to resolve at the same time <b>during the strategy or agenda phases</b>, players take turns resolving action cards starting with the speaker and proceeding clockwise. This process repeats until each player has resolved all the action cards that he wishes to resolve during that window. </p>
    </li>
    <li>
        <span>2.10</span>
        <p>If there are multiple action cards that players wish to resolve at the same time <b>during the action phase</b>, each player takes a turn resolving one action card in initiative order, beginning with the active player. This process repeats until each player has resolved all the action cards that he wishes to resolve during that window. </p>
    </li>
</ul>
