<p>During the action phase, each player takes a turn in initiative order. During a player’s turn, he performs a single action. After each player has taken a turn, player turns begin again in initiative order. This process continues until all players have passed. </p>
<ul>
    <li>
        <span>3.1</span>
        <p>During a player’s turn, he may perform one of the following three types of actions: a strategic action, a tactical action, or a component action.</p>
    </li>
    <li>
        <span>3.2</span>
        <p>If a player cannot perform an action, he must pass.</p>
    </li>
    <li>
        <span>3.3</span>
        <p>After a player has passed, he cannot perform additional actions during that action phase.</p>
        <ul>
            <li><p>A player that has passed can still resolve the secondary ability of other players’ strategy cards. </p></li>
        </ul>
    </li>
    <li>
        <span>3.4</span>
        <p>A player cannot pass until he has performed a strategic action.</p>
        <ul>
            <li><p>During a three-player or four-player game, a player cannot pass until he has exhausted both of his strategy cards. </p></li>
        </ul>
    </li>
    <li>
        <span>3.5</span>
        <p>After all players have passed, play proceeds to the status phase.</p>
    </li>
</ul>