<p>The active player is the player taking a turn during the action phase.</p>
<ul>
    <li>
        <span>4.1</span>
        <p>During the action phase, the player who is first in initiative order is the first active player. </p>
    </li>
    <li>
        <span>4.2</span>
        <p>After the active player takes a turn, the next player in initiative order becomes the active player. </p>
    </li>
    <li>
        <span>4.3</span>
        <p>After the last player in initiative order takes a turn, the player who is first in initiative order becomes the active player again, and turns begin again in initiative order, ignoring any players who have already passed. </p>
    </li>
</ul>