* {
	font-family: $primary-font;
	box-sizing: border-box;
}
body {
	// background: #333;
	// background-color: #272741;
	background-image: url('/images/star-background-2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	// padding: calc( #{$grid-margin} * 3 );
	margin: 0 auto;
	position: relative;
}
.module {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: calc(100% - 4em);
}
.card {
	background: rgba($color-blue,0.1);
	border: solid 1px rgba($color-blue,0.5);
	border-radius: $block-radius;
	padding: $paragraph-margin;
}