.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: calc(#{$grid-margin} * -1);
    & > * {
        width: 100%;
        margin: $grid-margin;
    }
}