.round {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    & > * {
        flex-basis: 100%;
    }
}

.round-strats {
    text-align: left;
    margin-bottom: calc( #{$grid-margin} * 6);
    h2 {
        margin-bottom: 0.5em;
    }
}

.round-strats__list {
    flex-flow: row wrap;
    justify-content: center;
    .card {
        flex-basis: calc( 50% - (#{$grid-margin} * 2) );
        margin-bottom: $grid-margin;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @media (min-width: $mobile-size) {
            flex-basis: calc( 25% - (#{$grid-margin} * 2) );
        }
        &:hover {
            cursor: pointer;
        }
        h3 {
            font-size: calc(0.5em + 0.5vw);
            margin: 0;
        }
    }
    
    .strategy__number {
        margin: 0;
        font-size: calc(0.75em + 0.5vw);
        font-family: var(--secondary-font);
        font-weight: 700;
        padding: $card-padding;
    }
}

.strategy__players {
    button {
        display: block;
        width: 100%;
        margin-top: 0.5em;
    }
}

.dropzone {
    min-height: 100px;
    min-width: 100px;
    background: rgba(0,0,0,0.25);
    border: dashed 2px rgba(0,0,0,0.75);
    border-radius: var(--block-radius);
}